asgiref
bitcoin
certifi
charset-normalizer
crispy-bootstrap5
distlib
dj-database-url
Django
django-crispy-forms
django-email
django-environ
EasyProcess
entrypoint2
filelock
future
gunicorn
idna
MouseInfo
mss
mysql-connector-python
numpy
opencv-contrib-python
packaging
Pillow
pipenv
platformdirs
protobuf
psycopg2
psycopg2-binary
PyAutoGUI
pycoin
PyGetWindow
PyMsgBox
pyperclip
PyRect
pyscreenshot
PyScreeze
pytweening
requests
sqlparse
transactions
typing_extensions
tzdata
urllib3
virtualenv
