{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/paymentMethod.css' %}">
<div class="payment_body">
  <section class="payment_section">
    <div class="payment_product">
      <img class="payment_product_image" src="{{book.image.url}}" alt="The cover of Stubborn Attachments" />
      <div class="payment_description">
        <h3>{{book.title}}</h3>
        <h5>{{book.price}}</h5>
      </div>
    </div>
    <form action="{% url 'CheckoutAndBorrowView' id=book.id %}" method="POST">
      {% csrf_token %}
      <button type="submit" id="checkout-button">Checkout</button>
    </form>
  </section>
</div>
{% endblock content %}