{% extends 'base.html' %}
{% load static %}
{% comment %}===================  Section of the ROOT FIELS =========================={% endcomment %}
{% block cssstyle %}
<link rel="stylesheet" href="{% static 'css/MainStyle.css' %}">
{% endblock cssstyle %}

{% block content %}

{% comment %}===================  Section of the Banner =========================={% endcomment %}
<section class="banner-Section">
  <div class="Home_container d-flex justify-content-between algin-items-start m-5"style="margin-top: -70px !important;">
    <div class = "home_text p-4 pt-0">
      <h1>Better <span><br>Learning <br> Future</span> Starts <br> With Penn</h1>
      <p>It is a long established fact that reader will be distracted readable content of a page when.</p>
      <a href="{% url 'show_All_Books' %}" class="banner-content-view-button">EXPLORE BOOKS <img src="{% static 'right-arrow (1).png' %}" class="arrowsignpng"alt="" srcset=""></a>
    </div>
    <div class = "home_image">
      <div class="position-absolute circle-image-of-banner">
        <img src="{% static 'circle.png' %}" alt="" srcset="">
      </div>
      <div class="banner-girl-img">
        <img src="{% static 'home-image.png' %}" alt="">
      </div>
      <div class="banner-active-user">
        <img src="{% static 'group.png' %}" alt="" srcset="">
        <h2>7000+</h2>
        <span>Active Users</span>
      </div>
      <div class="banner-totalBook">
        <img src="{% static 'open-book.png' %}" alt="" srcset="">
        <h2>7000+</h2>
        <span>Total Books</span>
      </div>
    </div>
  </div>
</section>

{% comment %}===================  Section of the ABOUT SECTION =========================={% endcomment %}
<section class="ab_one section-padding mt-5">
  <div class="container">									
    <div class="row">								
      <div class="col-lg-6 col-sm-12 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s" data-wow-offset="0" style="visibility: visible; animation-duration: 1s; animation-delay: 0.2s; animation-name: fadeInUp;">
        <div class="ab_img">
          <img src="{% static 'about1.png' %}" class="img-fluid" alt="image">
          <!-- <div class="wc_year">
            <h3><span>6k+</span> <br />Happy Clients</h3>
          </div> -->
        </div>
      </div><!--- END COL -->					
      <div class="col-lg-6 col-sm-12 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s" data-wow-offset="0" style="visibility: visible; animation-duration: 1s; animation-delay: 0.1s; animation-name: fadeInUp;">
        <div class="ab_content">
          <h2>Learn new skills to go <u><span>ahead for your </span></u> career.</h2>
          <p>Empower your career with our ultimate guidebook. Unlock new skills and propel your professional journey to greater heights.</p>
        </div>
        <div class="abmv">
          <span class="ti-medall"></span>
          <h4>Our Mission</h4>
          <p>Elevate your knowledge with our curated selection of the best books for skill enhancement.</p>
        </div>
        <div class="abmv">
          <span class="ti-wand"></span>
          <h4>Our Vision</h4>
          <p>Empower globally with accessible resources for continuous learning and professional growth.</p>
        </div>	
          <a class="btn_one text-decoration-none" href="{% url 'aboutus' %}">Discover More</a>
      </div><!--- END COL -->								  
    </div><!--- END ROW -->
  </div><!--- END CONTAINER -->
</section>

{% comment %}===================  Section of the Fun Fact SECTION =========================={% endcomment %}
<section id="counts" class="counts section-padding">
  <div class="container" data-aos="fade-up">
<div class="section-title">
  <h2>Some Fun Fact</h2>
  <p>Our Great <span><u>Achievement</u></span></p>
</div>	  
    <div class="row gy-4">
      <div class="col-lg-3 col-md-6">
        <div class="count-box">
          <i class="ti-face-smile"></i>
          <div>
            <span data-purecounter-start="0" data-purecounter-end="8232" data-purecounter-duration="0" class="purecounter">8232</span>
            <p>Total Users</p>
          </div>
        </div>
      </div><!--- END COL -->		
      <div class="col-lg-3 col-md-6">
        <div class="count-box">
          <i class="ti-files" style="color: #ee6c20;"></i>
          <div>
            <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="0" class="purecounter">521</span>
            <p>Variety Books</p>
          </div>
        </div>
      </div><!--- END COL -->		
      <div class="col-lg-3 col-md-6">
        <div class="count-box">
          <i class="ti-headphone-alt" style="color: #15be56;"></i>
          <div>
            <span data-purecounter-start="0" data-purecounter-end="163" data-purecounter-duration="0" class="purecounter">163</span>
            <p>Top Publishers</p>
          </div>
        </div>
      </div><!--- END COL -->		
      <div class="col-lg-3 col-md-6">
        <div class="count-box">
          <i class="ti-user" style="color: #bb0852;"></i>
          <div>
            <span data-purecounter-start="0" data-purecounter-end="93" data-purecounter-duration="0" class="purecounter">193</span>
            <p>Certified Puslishers</p>
          </div>
        </div>
      </div><!--- END COL -->		
    </div><!--- END ROW -->		
  </div><!--- END CONTAINER -->		
</section>

{% comment %}===================  Section of the CARD SECTION =========================={% endcomment %}
<section class="Card-Section">
  <div class="Card-Section-Container d-flex justify-content-center align-content-center">
    <div class="card" style="width: 35rem; height:22rem">
      <div class="card-body Card_section_text">
        <h3 class="card-title">Top Publishers</h3>
        <p class="card-text">Discover top-rated publishers chosen by buyers for quality content and exceptional offerings. Explore now!</p>
        <a href="{% url 'Publishers' %}" class="banner-content-view-button ">EXPLORE Publisehrs <img src="{% static 'right-arrow (1).png' %}" class="arrowsignpng"alt="" srcset=""></a>
      </div>
    </div>
    
    <div class="card" style="width: 35rem; height:22rem">
      <div class="card-body Card_section_text">
        <h3 class="card-title">Top Books</h3>
        <p class="card-text">Discover top-rated books selected by buyers for exceptional quality and captivating content. Explore our collection now!</p>
        <a href="{% url 'show_All_Books' %}" class="banner-content-view-button">EXPLORE BOOKS <img src="{% static 'right-arrow (1).png' %}" class="arrowsignpng"alt="" srcset=""></a>
      </div>
    </div>
    
    <div class="card" style="width: 35rem; height:22rem">
      <div class="card-body Card_section_text">
        <h3 class="card-title">Our Achivements</h3>
        <p class="card-text">Our achievement: delivering valuable books at the best prices, enriching your reading experience affordably.</p>
        <a href="{% url 'aboutus' %}" class="banner-content-view-button">EXPLORE Achivements <img src="{% static 'right-arrow (1).png' %}" class="arrowsignpng"alt="" srcset=""></a>
      </div>
    </div>        
  </div>
</section>
{% comment %}===================  Section of the Trusted company SECTION =========================={% endcomment %}
<div class="partner-logo section-padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="partner_title">
          <h3>Trusted Company Arround The World! </h3>
        </div>        
        <div class="companylistSlider swiffy-slider slider-item-show4 slider-nav-outside slider-nav-dark slider-nav-sm slider-nav-visible slider-nav-page slider-item-snapstart slider-nav-autoplay slider-nav-autopause slider-item-ratio slider-item-ratio-contain slider-item-ratio-32x9 bg-white shadow-lg py-3 py-lg-4" data-slider-nav-autoplay-interval="2000">
          <div class="slider-container">
              <div><img src="{% static '1.png' %}" alt="..."></div>
              <div><img src="{% static '2.png' %}" loading="lazy" alt="..."></div>
              <div><img src="{% static '3.png' %}" loading="lazy" alt="..."></div>
              <div><img src="{% static '4.png' %}" loading="lazy" alt="..."></div>
              <div><img src="{% static '5.png' %}" loading="lazy" alt="..."></div>
              <div><img src="{% static '2.png' %}" loading="lazy" alt="..."></div>
              <div><img src="{% static '4.png' %}" loading="lazy" alt="..."></div>
              <div><img src="{% static '5.png' %}" loading="lazy" alt="..."></div>
              <div><img src="{% static '2.png' %}" loading="lazy" alt="..."></div>
              <div><img src="{% static '4.png' %}" loading="lazy" alt="..."></div>
              <div><img src="{% static '3.png' %}" loading="lazy" alt="..."></div>
              <div><img src="{% static '5.png' %}" loading="lazy" alt="..."></div>
              <div><img src="{% static '4.png' %}" loading="lazy" alt="..."></div>
              <div><img src="{% static '1.png' %}" loading="lazy" alt="..."></div>
              <div><img src="{% static '2.png' %}" loading="lazy" alt="..."></div>
              <div><img src="{% static '5.png' %}" loading="lazy" alt="..."></div>
              <div><img src="{% static '2.png' %}" loading="lazy" alt="..."></div>
              <div><img src="{% static '4.png' %}" loading="lazy" alt="..."></div>
              <div><img src="{% static '3.png' %}" loading="lazy" alt="..."></div>
          </div>

          <button type="button" class="slider-nav" aria-label="Go left"></button>
          <button type="button" class="slider-nav slider-nav-next" aria-label="Go left"></button>

        </div>
      </div><!-- END COL  -->
    </div><!--END  ROW  -->
  </div><!-- END CONTAINER  -->
</div>

{% comment %}===================  Section of the BOOK =========================={% endcomment %}
<section class="BOOKS mt-4">
  <div class="d-flex justify-content-center gap-5 flex-wrap">
    {% for brand in Books %}
    <ul class="barnd_name_ul m-0 mt-5"> 
      <li class="barnd_name_li">
        <a href="{% url 'brand_wise' brand.slug %}" class ="text-decoration-none barnd_name">{{brand.name}}</a>
      </li>
    </ul>
    {% endfor %}
  </div>
  
  <div class="swiffy-slider slider-item-show3 slider-item-reveal slider-nav-dark slider-nav-outside-expand Products_Silder">
    <ul class="slider-container py-2" id="slider2">
      {% for val in data %}
      <li>
      <div class="card shadow h-100 rounded-card" onclick="handleItemClick('${singleData.id}')">
        <div class="ratio ratio-1x1 p-5">
          <img src="{{val.image.url}}" class="card-img-top" loading="lazy" alt="...">
        </div>
        <div class="card-body d-flex flex-column flex-md-row">
          <div class="flex-grow-1">
            <strong>{{val.title}}</strong>
            <p class="card-text-books">{{val.description |truncatewords:10 }}</p>
            <a href="{% url 'Views_Details' val.id%}" class="book-card-button">View Details</a>
          </div>
          <div class="px-md-2">{{val.price}}$</div>
        </div>
        </div>
      </li>
      {% endfor %}
      
    </ul>
    
    <button type="button" class="slider-nav" aria-label="Go to previous"></button>
    <button type="button" class="slider-nav slider-nav-next" aria-label="Go to next"></button>
  </div>
</section>
{% comment %}===================  Why choose us of the BOOK =========================={% endcomment %}
<section class="marketing_content_area section-padding">
  <div class="container">
   <div class="section-title">
     <h2>Why Choose Penn</h2>
     <p>Find the <span><u>best features</u></span> of Penn.</p>
   </div>		
   <div class="row">									
     <div class="col-lg-4 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s" data-wow-offset="0" style="visibility: visible; animation-duration: 1s; animation-delay: 0.1s; animation-name: fadeInUp;">
       <div class="single_feature_one">
         <div class="sf_top">
           <span class="ti-book ss_one"></span>
           <h2><a href="#" target="_blank">Learn More Anywhere</a></h2>
         </div>
         <p>Discover endless learning opportunities with unrestricted access to your chosen books.</p>
       </div>					
     </div><!-- END COL -->								
     <div class="col-lg-4 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s" data-wow-offset="0" style="visibility: visible; animation-duration: 1s; animation-delay: 0.2s; animation-name: fadeInUp;">
       <div class="single_feature_one">
         <div class="sf_top">
           <span class="ti-heart ss_two"></span>
           <h2><a href="#" target="_blank">Expert <br>Instructor</a></h2>
         </div>	
         <p>We're your premier publisher delivering books authored by expert instructors.</p>
       </div>					
     </div><!-- END COL -->								
     <div class="col-lg-4 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s" data-wow-offset="0" style="visibility: visible; animation-duration: 1s; animation-delay: 0.3s; animation-name: fadeInUp;">
       <div class="single_feature_one">
         <div class="sf_top">
           <span class="ti-user ss_three"></span>
           <h2><a href="#" target="_blank">Team <br>Management</a></h2>
         </div>	
         <p>We boast an expert team dedicated to efficient management of all your specifications.</p>
       </div>					
     </div><!-- END COL -->								
     <div class="col-lg-4 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s" data-wow-offset="0" style="visibility: visible; animation-duration: 1s; animation-delay: 0.4s; animation-name: fadeInUp;">
       <div class="single_feature_one">
         <div class="sf_top">
           <span class="ti-eye ss_four"></span>
           <h2><a href="#" target="_blank">Book <br> Planing</a></h2>
         </div>	
         <p>Our experienced publishers  plan book releases to ensure you receive the very best content.</p>
       </div>					
     </div><!-- END COL -->								
     <div class="col-lg-4 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s" data-wow-offset="0" style="visibility: visible; animation-duration: 1s; animation-delay: 0.5s; animation-name: fadeInUp;">
       <div class="single_feature_one">
         <div class="sf_top">
           <span class="ti-light-bulb ss_five"></span>
           <h2><a href="#" target="_blank">Publishing Monitoring</a></h2>
         </div>		
         <p>Our expert team diligently monitors published books to ensure their quality and effectiveness.</p>
       </div>					
     </div><!-- END COL -->								
     <div class="col-lg-4 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s" data-wow-offset="0" style="visibility: visible; animation-duration: 1s; animation-delay: 0.6s; animation-name: fadeInUp;">
       <div class="single_feature_one">
         <div class="sf_top">
           <span class="ti-email ss_six"></span>
           <h2><a href="#" target="_blank">24/7 Strong Support</a></h2>
         </div>		
         <p>Rely on our 24/7  support for all your inquiries, assistance, and concerns, anytime, anywhere.</p>
       </div>					
     </div><!-- END COL -->																
   </div><!-- END ROW -->
 </div><!-- END CONTAINER -->
</section>

{% comment %}===================   Promotion the JS =========================={% endcomment %}
<section class="course_promo section-padding">
  <div class="container">									
    <div class="row">								
      <div class="col-lg-6 col-sm-12 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s" data-wow-offset="0" style="visibility: visible; animation-duration: 1s; animation-delay: 0.1s; animation-name: fadeInUp;">
        <div class="cp_content">
          <h4>Best Online Book Selling Platform</h4>
          <h2>One Platfrom &amp; Many <span><u>Books</u></span> For You</h2>
          <p>From blogs to emails to ad copies, auto-generate catchy, original, and high-converting copies in popular tones languages.</p>
          <ul>
            <li><span class="ti-check"></span>9/10 Average Satisfaction Rate</li>
            <li><span class="ti-check"></span>96% Completitation Rate</li>
            <li><span class="ti-check"></span>Friendly Environment &amp; Expert Writers</li>
          </ul>
        </div>
        <div class="cp_btn">
          <a href="{% url 'show_All_Books' %}" class="cta"><span>Explore Our Books</span>
            <svg width="13px" height="10px" viewBox="0 0 13 10">
            <path d="M1,5 L11,5"></path>
            <polyline points="8 1 12 5 8 9"></polyline>
            </svg>
          </a>
        </div>
      </div><!--- END COL -->						
      <div class="col-lg-6 col-sm-12 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s" data-wow-offset="0" style="visibility: visible; animation-duration: 1s; animation-delay: 0.2s; animation-name: fadeInUp;">
        <div class="cp_img">
          <img src="{% static 'promo.png' %}" class="img-fluid" alt="image">
          <!-- <div class="wc_year">
            <h3>20 Years of Experience <br />from 2002</h3>
          </div> -->
        </div>
      </div><!--- END COL -->			  
    </div><!--- END ROW -->
  </div><!--- END CONTAINER -->
</section>

{% comment %}===================  Section of News Letter =========================={% endcomment %}
<section class="newsletter_area section-padding">
  <div class="container">
    <div class="row text-center">			
      <div class="col-lg-6 offset-lg-3 col-sm-12 col-xs-12">
        <div class="subs_form">
          <h3>Subscripbe to our newsletter, We don't make any spam.</h3>
          <p>Subscribe to our newsletter for updates. Rest assured, no spam, just valuable insights delivered directly.</p>
          <form action="#" class="home_subs">
            <input type="text" class="subscribe__input" placeholder="Enter your Email Address">
            <button type="button" class="subscribe__btn"><span class="ti-email"></span></button>
          </form>
        </div>
      </div><!-- END COL -->
    </div><!-- END ROW -->	
  </div><!--- END CONTAINER -->	
</section>

  <!-- Footer -->
  {% comment %}===================  Section of Topic Letter =========================={% endcomment %}
  <section class="topic_content_area section-padding">
    <div class="container">
     <div class="section-title">
       <h2>Start Learning </h2>
       <p>Popular <span><u>Topics To Learn</u></span> From Today.</p>
     </div>		
     <div class="row">									
       <div class="col-lg-4 col-sm-6 col-xs-12">
         <div class="single_tca">
           <img src="{% static 'ct1.svg' %}" alt="">
           <h2><a href="{% url 'show_All_Books' %}">UI/UX Design</a></h2>
           <span>71 Books</span>
         </div>					
       </div><!-- END COL -->							
       <div class="col-lg-4 col-sm-6 col-xs-12">
         <div class="single_tca">
           <img src="{% static 'ct2.svg' %}" alt="">
           <h2><a href="{% url 'show_All_Books' %}">Digital Program</a></h2>
           <span>59 Books</span>
         </div>					
       </div><!-- END COL -->							
       <div class="col-lg-4 col-sm-6 col-xs-12">
         <div class="single_tca">
           <img src="{% static 'ct3.svg' %}" alt="">
           <h2><a href="{% url 'show_All_Books' %}">Finance</a></h2>
           <span>68 Books</span>
         </div>					
       </div><!-- END COL -->							
       <div class="col-lg-4 col-sm-6 col-xs-12">
         <div class="single_tca">
           <img src="{% static 'ct4.svg' %}" alt="">
           <h2><a href="{% url 'show_All_Books' %}">Modern Physics</a></h2>
           <span>83 Books</span>
         </div>					
       </div><!-- END COL -->							
       <div class="col-lg-4 col-sm-6 col-xs-12">
         <div class="single_tca">
           <img src="{% static 'ct5.svg' %}" alt="">
           <h2><a href="{% url 'show_All_Books' %}">Music Production</a></h2>
           <span>37 Books</span>
         </div>					
       </div><!-- END COL -->							
       <div class="col-lg-4 col-sm-6 col-xs-12">
         <div class="single_tca">
           <img src="{% static 'ct6.svg' %}" alt="">
           <h2><a href="{% url 'show_All_Books' %}">Data Science</a></h2>
           <span>51 Books</span>
         </div>					
       </div><!-- END COL -->																								
     </div><!-- END ROW -->
   </div><!-- END CONTAINER -->
 </section>
  
  {% endblock content %}

{% comment %}===================  Section of the JS =========================={% endcomment %}
{% block jsfile %}
<script src="https://cdn.jsdelivr.net/npm/swiffy-slider@1.6.0/dist/js/swiffy-slider.min.js" crossorigin="anonymous" defer></script>  
{% endblock jsfile %}
  